<li>
	{{burger_name}}

	<button class="change-status" data-id="{{id}}" data-newdevourer="{{}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>